<!DOCTYPE html>
<html lang="pt-br">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="css/style.css">
 </head>
  <br>
    <header>
      <h1>Notícias</h1>
    </header>
    <section id ="section1de3">
         <figure class="figuresection1de3">
            <figcaption>
                <a href="https://www.tecmundo.com.br/voxel/501592-novo-jogo-do-estudio-de-pokemon-tem-graficos-de-ponta-e-legendas-em-pt-br-conheca-beast-of-reincarnation.htm" target="_blank">
                <img src="img/BOfR.png">
                <p class = "textosection1de3">Novo jogo do estúdio de Pokémon tem gráficos de ponta e legendas em PT-BR! Conheça Beast of Reincarnation</p>
                </a>
            </figcaption>
         </figure>
         <figure class="figuresection1de3">
            <figcaption>
                <a href="https://meups.com.br/noticias/dlc-dragon-ball-kakarot-daima/" target="_blank">
                <img src="img/Daima.png">
                <p class = "textosection1de3">Dragon Ball Z: Kakarot revela datas dos DLCs de Daima</p>
                </a>
            </figcaption>
          </figure>
          <figure class="figuresection1de3">
            <figcaption>
                <a href="https://ovicio.com.br/gta-6-pode-ter-exploracao-submarina-com-tesouros-inimigos-e-missoes-secretas/" target="_blank">
                <img src="img/GTA6.png">
                <p class = "textosection1de3">GTA 6 pode ter exploração submarina com tesouros, inimigos e missões secretas</p>
                </a>
            </figcaption>
          </figure>          
    </section>
  </br></br>
    <section id ="section2de3">
         <figure class="figuresection2de3">
            <figcaption>
                <a href="https://veja.abril.com.br/coluna/em-cartaz/a-nova-aposta-da-saga-bilionaria-como-treinar-o-seu-dragao/" target="_blank">
                <img src="img/MV5BNTBjZDIzCTOseuD.png">
                <p class = "textosection2de3">A nova aposta da saga bilionária "Como Treinar o Seu Dragão"</p>
                </a>
            </figcaption>
         </figure>
         <figure class="figuresection2de3">
            <figcaption>
                <a href="https://www.techtudo.com.br/listas/2025/06/7-coisas-que-o-whatsapp-faz-e-voce-provavelmente-nao-sabe-edapps.ghtml" target="_blank">
                <img src="img/Whatsapp.png">
                <p class = "textosection2de3">7 coisas que o WhatsApp faz e você provavelmente não sabe</p>
                </a>
            </figcaption>
          </figure>
          <figure class="figuresection2de3">
            <figcaption>
                <a href="https://esporte.ig.com.br/2025-06-14/al-ahly-inter-miami-empatam-sem-gols-abertura-mundial.html" target="_blank">
                <img src="img/Mundial.png">
                <p class = "textosection2de3">Inter Miami e Al-Ahly empatam sem gols na abertura do Mundial de clubes</p>
                </a>
            </figcaption>
          </figure>
          <figure class="figuresection2de3">
            <figcaption>
                <a href="https://veja.abril.com.br/coluna/tela-plana/a-forca-impressionante-de-lilo-stitch-alem-das-bilheterias-de-cinema/" target="_blank">
                <img src="img/Stitch.png">
                <p class = "textosection2de3">A força impressionante de Lilo & Stitch além das bilheterias de cinema</p>
                </a>
            </figcaption>
          </figure>                              
    </section>
  </br>
    <section id ="section3de3">
         <figure class="figuresection3de3">
            <figcaption>
                <a href="https://www.correiobraziliense.com.br/mundo/2025/06/7174082-onda-de-protestos-toma-os-eua-enquanto-trump-celebra-aniversario-com-desfile-militar.html" target="_blank">
                <img src="img/Protestos.png">
                <p class = "textosection3de3">Onda de protestos toma os EUA enquanto Trump celebra aniversário com desfile militar</p>
                </a>
            </figcaption>
         </figure>
         <figure class="figuresection3de3">
            <figcaption>
                <a href="https://www.opovo.com.br/noticias/mundo/2025/06/14/guerra-ira-x-israel-o-que-se-sabe-sobre-os-ultimos-ataques-entre-os-paises.html" target="_blank">
                <img src="img/Guerra.png">
                <p class = "textosection3de3">Guerra Irã x Israel: o que se sabe sobre os últimos ataques entre os países</p>
                </a>
            </figcaption>
         </figure>
    </section>
  </br></br>
    <footer>Vitor Hugo Oliveira da Silva/Vinícius Lacerda de Jesus</footer>   
  </body>
</html>