body{
    background: url(../img/fundo.png);
    align-items: center;
    text-align: center;
}
p{
    color: white;
    margin-left: 5px;
}
#formulario{
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    border: 3px solid #86a4e9;
    border-radius: 7px;
    background: rgba(125, 144, 236, 0.271)
}
#divisao{
    text-align: center;
}
.divisao-conteudo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 8px;
}
label{
    color: #ffffff;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000;
}
.texto-label{
    margin-bottom: 7px;
}
input{
    height: 28px;
    width: 255px;
    border-radius: 12px;
    text-decoration: none;
    outline: none;
    opacity: 0.85;
    background: rgba(214, 245, 245, 0.95);
    transition: all 0.3s ease;
    border: 2px solid;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    height: 55px;
    width: 255px;
    border-radius: 10px;
    text-decoration: none;
    outline: none;
    opacity: 0.85;
    background: rgba(214, 245, 245, 0.9);
    transition: all 0.3s ease;
    border: 2px solid;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
textarea:focus{
    outline: 2px solid #86a4e9;
    transform: scale(1.05);
}
input:focus{
    outline: 2px solid #86a4e9;
    transform: scale(1.05);
}
#resultado{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    border: 3px solid #061993;
    border-radius: 7px;
    background: #065393;
    width: 50%;
    text-align: left;
    border: 3px solid #86a4e9;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 2.0;
    font-size: large;
}
#btn{
    border: 2px solid #000;
    border-radius: 7px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 200px;
    height: 33px;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#btn:hover{
    color: #fff;
    background-color: #1146c0;
    text-shadow: 2px 2px 4px #000;
}
#decoracao-sonic{
    width: 100px;
    text-align: center;
    margin: 0 auto;
}