 #Naruto {
   color: #ccab08;
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 45px;
}
 body {
   font-family: Arial, sans-serif;
   margin: 15px;
   background-color: #100738;
   text-align: center ;
 }

 #secao-sinopse {
   background-color: #e6d00eb8;
   padding: 15px;
   border-radius: 8px rgb(166, 255, 0) solid;
 }

 .lista-itens {
   list-style-type: circle;
   padding-left: 50px;
   font-size: 26px;
   align-items: center;
   display: flex;
 }

 .item {
   color: #555;
 }

 img {
  margin: 1%;
  width: 130px;
 }

 .secao{
  background-color: rgba(0, 255, 179, 0.767);
  padding: 15px;
  border-radius: 8px rgb(166, 255, 0) solid;
 }

 .nome{
  text-align: center;
 }

 h2{
  text-align: center;
  color: #ccab08;
 }

 #Começo {
  margin: auto;
  display: block;
  width: 800px; 
  }
  footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    background-color: #555;
    width: 100%;
    padding: 20px 0;
  }