body{
    background-color: #f1f9f6;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
section{
    text-align: center;
    margin: 5px;
}
form{
    position: relative;
    text-align: center;
}
#container-carousel{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #000;
}
#carouselExampleIndicators {
  width: 80%;
  max-width: 1000px;
}
#index{
    background-color: #ffff;
    margin: 0px;
    justify-content: space-between;
    gap: 5px;
}
.conteudo-index{
    display: flex;
    gap: 60px;
    justify-content: center;
    border-bottom: 2px solid #000;
}
.texto-index{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
#titulo-index{
    margin-bottom: 20px;
}
#arrumar{
    margin-right: 200px;
}
#inputName{
    border-radius: 5px;
    text-decoration: none;
    border: none;
    margin-bottom: 5px;
    width: 400px;
    outline: none;
    border: 2px solid #000;
    background: #ebfefd;
}
#inputName:focus{
    border-color: #5864ff;
    background-color: #f0f6fd;
}
#inputEmail{
    border-radius: 5px;
    text-decoration: none;
    border: none;
    margin-bottom: 5px;
    width: 400px;
    outline: none;
    border: 2px solid #000;
    background: #ebfefd;
}
#inputEmail:focus{
    border-color: #5864ff;
    background-color: #f0f6fd;
}
#inputFone{
    border-radius: 5px;
    text-decoration: none;
    border: none;
    margin-bottom: 5px;
    width: 400px;
    outline: none;
    border: 2px solid #000;
    background: #ebfefd;
}
#inputFone:focus{
    border-color: #5864ff;
    background-color: #f0f6fd;
}
#inputMessage{
    border-radius: 5px;
    text-decoration: none;
    border: none;
    margin-bottom: 5px;
    width: 400px;
    outline: none;
    border: 2px solid #000;
    background: #ebfefd;
    height: 75px;
    animation: 1.5 ease;
}
#inputMessage:focus{
    border-color: #5864ff;
    background-color: #f0f6fd;
}
#label-contato{
  display: inline-block;
  padding: 5px;
}
footer {
    width: 100%;
}
.curso img{
    height: 200px;
    width: 200px;
}
.curso{
    display: flex;
    justify-content: space-between;
}
.curso p{
  font-size: 9px;
}
.img_redondo{
    border-radius: 50%;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 65px;
    text-align: center;
}
.nav-link{
    color: #93e2f1;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: 1.5 ease;
}
.nav-link:hover{
    color: #000;
}
.nav-item{
    margin-left: 12px;
    margin-right: 12px;
    animation: 1.5 ease;
}
.nav-item:hover{
    background-color: #b9bdef;
    border-radius: 25px;
}
.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #b9bdef;
    border-radius: 15px;
    animation: 1.5 ease;
    color: #e8e8f1;
    margin: 0px;
}
.btn:hover{
    color: #fcfcfc;
}
.btn-v{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #b9bdef;
    border-radius: 15px;
    animation: 1.5 ease;
    width: 125px;
    height: 35px;
    margin-bottom: 5px;
    text-decoration: none;
    outline: none;
}
.btn-v:hover{
    color: #fcfcfc;
    background-color: #7f88fd;
}
.Cards{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.card{
    margin: 0px;
    border: 3px solid #000;
    animation: 0.25 ease-out;
    border-radius: 9px;
}
.card:hover{
    transform: scale(1.025);
}
.card img{
    border-bottom: 2px solid #000;
}
a{
    margin: 0px;
    text-decoration: none;
    color: #000;
}
#cursos{
    border-left: 2px solid #000;
}
#logo{
    border-radius: 10px;
}
#footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #e7e1e1;
    padding: 40px;
    margin: 0px;
    border-top: 2px solid #000;
}
.icones {
    width: 35px;
    margin: 10px;
    transition: 0.3s ease;
}
.icones:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.fonte-footer {
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
.label-footer {
    margin-top: 40px;
    max-width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texto-footer{
    text-decoration: underline;
}
#redes-menu {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
#contato{
    margin-bottom: 50px;
    background-color: #ffff;
    border: 2px solid black;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 15px;
}
#Contato{
    border: 2px solid #000;
    margin: 0px;
    display: block;
    box-sizing: border-box;
}
#img-mess{
    width: 175px;
    margin-top: 4px;
}
#decoracao-pagina{
    margin-top: 50px;
    position: relative;
    text-align: center;
    justify-content: center;
}
#decoracao-pagina img{
    opacity: 0.5;
    width: 98.35vw;
    height: 35vh;
    margin: 0px;
    padding: 0px;
}
#decoracao-pagina div{
    text-align: center;
}
#titulo-ds{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-adm{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-agro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-design{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-edificacoes{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-enfermagem{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-gastronomia{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-mecanica{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-quimica{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-sj{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-teologia{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#titulo-vet{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
}
#texto-curso{
    position: absolute;
    top: 100px;
    left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
#informacoes-sobre-curso{
    margin-left: 250px;
    justify-content: center;
}
.linha{
    display: flex;
    width: 50%;
    justify-content: space-between;
    gap: 15px;
}
#definicao-curso{
    justify-content: center;
    text-align: justify;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
}
.cardP{
    background-color: #fff;
    border-radius: 35px;
    border: 2px solid #000;
    height: 85px;
    text-align: unset;
}
.card-text{
    margin-top: 5px;
}
.card-title{
    margin-top: 3px;
}
.container{
    margin-top:20px;
}
#saiba-mais{
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}
@media (max-width: 480px) {
    #index{
        height: 200px;
    }

    #texto-index{
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    body {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (max-width: 400px) {
    h5 {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (max-width: 250px){
    #cursos{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media (max-width: 250px){
    label{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}